{{!-- <div id='form'> --}}
  <form action='/login' method='POST'>

    <input type='email' name='email' placeholder='E-Mail' required/>

    <input type='password' name='password' placeholder='Password'/>

    <button type='submit'>Log in</button>
  </form>
  <p>Don't have an account sign up here</p>
  <a href='/signup'>sign up</a>
{{!-- </div> --}}

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}