<form action='/signup' method='POST'>
  <input type='text' name='username' placeholder='Username' required />
  <input type='email' name='email' placeholder='E-Mail' required />
  <input type='password' name='password' placeholder='Password' />
  <p>Pick tools you own </p>
  <select name='toolsAvailable' id='toolsAvailable' size='1' multiple>
    {{#each tools}}
      <option value='{{_id}}'>{{name}}</option>
    {{/each}}
  </select>
  <button type='submit'>Sign up</button>
</form>
<p>Have an account?</p>
<a href='/login'>Log in here</a>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
