<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
	    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
      <title>{{title}}</title>   
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
      
   </head>

   <body>
      <ul>
         <li><a href="/profile">Your Profile</a></li>
         <li><a href="/post-project">Create a new Project</a></li>
         <li><a href="/tool-to-offer">Which Tools do you have to offer?</a></li>
         <li><a href="/matches">Matches</a></li>
      </ul>

      {{{body}}}

      <a href="/logout">Log Out</a>

      
      

      <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io();
      var messages = document.getElementById('messages');
      var form = document.getElementById('form');
      var input = document.getElementById('input');
 
      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });
 
      socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
    <script src="/js/script.js"></script>
   </body>

</html>