<h1>Your Matches</h1>
<form action='/match' method='GET'>
  <label for='match'> Look for a match </label>

  <select name='match' multiple>
    {{#each allTools}}
      <option value='{{name}}'>{{name}}</option>

    {{/each}}
  </select>

  <button type='submit'>Search</button>
</form>