<h1>Add new Projects</h1>

<h3>Current Projects</h3>

{{#each projects}}
   <div class="projectContainer">
      <h4>{{projectname}}</h4>
      <div class="close2">+</div>
   </div>

{{/each}}

<button id="addProjectButton">Add new Project</button>

{{!-- Modal Section --}}

      <div class="bg-modal">
         <div class="modal-content">
            <div class="close">+</div>
            <h1>Add a new project</h1>
            <form action="/post-project" method="POST">
               <label for="projectname">Project Name</label>
               <input type="text" name="projectname" id="projectname">
               <label for="description">Description</label>
               <input type="text" name="description" id="description">
               <label for="toolsNeeded">Required Tools</label>
               <select name="toolsNeeded" id="toolsNeeded" multiple="multiple">
                   {{#each tools}}
                     <option value="{{_id}}">{{name}}</option>
                  {{/each}}
               </select>
               <button type="submit">Add this project</button>
            </form>
         </div>
      </div>

