<h1>Edit Project</h1>

<form action="/post-project/update/{{projects._id}}" method="POST">
    <label for="projectname">Project Name</label>
    <input type="text" name="projectname" id="projectname" value="{{projects.projectname}}">
    <label for="description">Description</label>
    <input type="text" name="description" id="description" value="{{projects.description}}">
    <label for="toolsNeeded">Required Tools</label>
    <select name="toolsNeeded" id="toolsNeeded" multiple="multiple">        
        {{{options}}}       
    </select>
    <button type="submit">Change this project</button>
</form>