<div class="flexcontainer padding">
<h1>View Details</h1>
<div class="spacing padding">
{{#with projects}}
    <h1>{{projectname}}</h1>
    <p>{{description}}</p>
    <ul class="tool-list">
        {{#each toolsNeeded}}
            <li>{{name}}</li>
        {{/each}} 
    </ul>
    
    
{{/with}}

{{!-- {{#each projects}}
    {{toolsNeeded.name}}
{{/each}}  --}}
</div>
</div>
