<div class="flexcontainer padding">
<h1>Edit Project</h1>
<form class="formstyle" action="/post-project/update/{{projects._id}}" method="POST">
<div>
    <label class="inputmargin" for="projectname">Project Name</label>
    <input  class="input inputmargin" type="text" name="projectname" id="projectname" value="{{projects.projectname}}">
    <label for="description">Description</label>
    <input class="input inputmargin" class="input inputmargin" type="text" name="description" id="description" value="{{projects.description}}">
    <label class="inputmargin" for="toolsNeeded">Required Tools</label>
    <select  name="toolsNeeded" id="toolsNeeded" multiple="multiple">        
        {{{options}}}       
    </select>
</div>
    <button class="btn-add-project" type="submit">Change this project</button>
</form>
</div>